@{
    ViewBag.Title = "About";
}

<hr />
<h2><center>@ViewBag.Title.</center></h2>
<hr />
<br />
<center>
    <h3>@ViewBag.Message</h3>
    <br />

    <p>This is the Simple CRUD Operation</p>
    <p>Developed by Synergita teams which is a Trademark product of Aspire Systems</p>
    <p>Any Dupliaction of the site in any manner many cause Legal issues</p>
    <p>This product and its components are Copyrighted to Aspire Systems under Intelectual Right of Property Act </p>
    <p>If u need to use the product or you have any issues</p>
    <p>
        please free to Contact us
    </p>
    <br />
    <hr />
    <p><img src="https://www.synergita.com/wp-content/uploads/2017/06/SynergitaLogo-1.png.png?x93903"</p>
    <hr />
    <h5><img src="http://www.aspiresys.com/templates/aspire_rwd/images/logo.png"</h5>

</center>