@{
    ViewBag.Title = "Contact";
}

<h2>@ViewBag.Message.</h2>
<br />


<div class="row">
    <h4>India</h4>
    <div class="col-sm-6">
        <div>
            <address>
                Aspire Systems (India) Pvt. Ltd. <br />
                1/D-1, SIPCOT IT PARK<br />
                Siruseri, Chennai - 603 103<br />
                Tamil Nadu, India<br />
                <abbr title="Phone">P:</abbr>
                +91-44-6740 4000
            </address>

            <address>
                <strong>Support:</strong>   <a href="mailto:info-india@aspiresys.com">info-india@aspiresys.com</a><br />
            </address>

        </div>
    </div>
    <div class="col-sm-6">
        <div>
            <address>
                MJR Magnifique IT Park, No. 901-A, <br />
                Survey No. 75&76, Nanakramguda X- Roads,<br />
                Raidurga Navkhalsa,<br />
                Hyderabad- 500 008, TELANGANA, INDIA<br />
                <abbr title="Phone">P:</abbr>
                +91-040- 40404060
            </address>

            <address>
                <strong>Support:</strong>   <a href="mailto:info-india@aspiresys.com">info-india@aspiresys.com</a><br />
            </address>
        </div>
    </div>



</div>
